
{% extends 'authapp/base.html' %}


{% block title %}
    change password
{% endblock title %}
    

{% block content %}
    <div class="auth register">
        <h2>Change password</h2>
        <form class="form" action ="" >
            <div class="form__control">
                <input type="password" required placeholder="Old Password">
                {% comment %} <label id="">Password</label> {% endcomment %}
            </div>
            <div class="form__control">
                <input type="password" required placeholder="New Password">
                {% comment %} <label id="">Password</label> {% endcomment %}
            </div>
            <div class="form__control">
                <input type="password" required placeholder="Confirm Password">
                {% comment %} <label id="">Password</label> {% endcomment %}
            </div>
            <div class="form__btn">
                <button class="auth__login active_btn">Save password</button>
                <p class="auth__text">
                    Cancel the process?
                    <a href="#">Cancel</a>
                </p>
            </div>
        </form>
    </div>
{% endblock content %}
    
