<div class="msg__modal">
  <div class="msg__modal__container">

    {% comment %} <div class="msg__modal__header"></div> {% endcomment %}
    
    <div class="msg__modal__content">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          <p class="msg_paragraphe"> {{ message }} </p>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    {% comment %} <div class="msg__modal__footer">
      <span id="msg__modal__cancel"> </span>
    </div> {% endcomment %}

  </div>
</div>

