

<div class="modal_container">
    <button class="modal_close">
        <img class="close_btn" src="/static/img/close-circled.svg"> 
    </button>
    <div class="modal_content_section">
        {% comment %} <div class="modal_header">
            <h1>je suis le modal header</h1>
        </div {% endcomment %}
        <div class="modal_content">
             <img class="modal_image" src="" alt="product_name">
        </div>
        {% comment %} <div class="modal_footer">
            <h1>je suis le modal footer</h1>
        </div> {% endcomment %}
    </div>
</div>