{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}user{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'scss/main.css' %}" />
</head>
<body>

    {% include 'product/_messages.html' %}
    {% include 'product/_modal.html' %}
    <div class = "dashboard">
        {% block sidenavbar %}
            {% include 'dashboard/_navbar.html' %}
        {% endblock sidenavbar %}
        
        {% block content %}
        
        {% endblock content %}
    </div>

    <script src="{% static 'js/dashboard.js' %}">
    </script>
    <script src="{% static 'js/htmx.min.js' %}">
    </script>
</body>
</html>