

// color

$blue-heavy : #343047;
$blue-pure : #746DE3;
$blue-heavy-alt : #B9BDDC;
$blue-pure-alt : #A687E5;
$white-color : #ffffffe6;
$black-color : #1D1F21;

$box-shadow-color : rgba(44, 44, 44, 0.66);

// medi query

$tablete-size : 980px;
$mobile-size : 460px;

